
@import "tailwindcss";

body {
  background-image: linear-gradient(to right, #6366f1, #8b5cf6, #ec4899);
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
